<div class="page-full">
    <div class="container">
        <div class="container-logout">
            <div class="logout">
                <div class="text">
                    <div class="icon">
                        <span class="material-symbols-outlined">waving_hand</span>
                    </div>
                    <div class="text-logout">
                        <h2>
                            Vuelve pronto!
                        </h2>
                    </div>
                </div>
                <div class="footer">
                    <h5>En un momento de redireccionaremos al inicio!</h5>
                </div>
            </div>
        </div>
    </div>
</div>